.mainButton {
	-fx-background-color: 
        #a6b5c9,
        linear-gradient(#303842 0.0%, #3e5577 20.0%, #375074 100.0%),
        linear-gradient(#768aa5 0.0%, #849cbb 5.0%, #5877a2 50.0%, #486a9a 51.0%, #4a6c9b 100.0%); 
    -fx-background-insets: 0.0 0.0 -1.0 0.0,0.0,1.0;
    -fx-background-radius: 5.0,5.0,4.0;
    -fx-padding: 7.0 30.0 7.0 30.0; 
    -fx-font-size: 16.0px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.mainButton:hover {
    -fx-background-color: linear-gradient(#98a8bd 0.0%, #8195af 25.0%, #6d86a4 100.0%); 
}

.mainButton:pressed {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1); 
}

.orderTypeButton { 
	-fx-background-color: #F3F5F8;
	-fx-border-color: #4D678B;
	-fx-border-radius: 1.0 5.0 0.0 0.0;
    -fx-background-radius: 1.0 5.0 0.0 0.0;
}

.orderTypeButton:selected  {
	-fx-background-color: #758AA7;
	-fx-text-fill: white;
	-fx-font-weight: bold;
	-fx-border-color: #758AA7;
	-fx-border-radius: 5.0 1.0 0.0 0.0;
    -fx-background-radius: 5.0 1.0 0.0 0.0;
}

.backButton { 
	-fx-background-color: #4D678B;
	-fx-font-weight: bold;
	-fx-text-fill: white;
	-fx-border-radius: 2.0 2.0 2.0 2.0;
    -fx-background-radius: 2.0 2.0 2.0 2.0;
}

.okButton { 
	-fx-background-color: #4D678B;
	-fx-font-weight: bold;
	-fx-text-fill: white;
	-fx-border-radius: 2.0 2.0 2.0 2.0;
    -fx-background-radius: 2.0 2.0 2.0 2.0;
}
