.default-color0.chart-bar {
    -fx-bar-fill: #dc143c; 

    }
.default-color1.chart-bar { 
    -fx-bar-fill: #0000ff; 
    }
    
.axis{
  -fx-tick-label-font-size: 13pt;
  -fx-font-size: 18pt;
  
}

.chart-title {
  -fx-font-size: 20pt;
}